@model HiredHunters.Models.Manange

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manange</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
